@font-face {
  font-family: Infynyte;
  src: url(/infynyte.otf);
}

html { overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  background-color: rgb(14, 9, 20);
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

nav { 
  display: flex;
  margin: auto;
  justify-content: space-between;
  width:100vw;
  height:auto;
}

nav ul li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: 0.2rem solid #fff;
  transition-property :all .2s linear 0s;
  font-size: 1.75rem;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: #b7b4b85d  !important;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
  
.socials {
  margin-top: 0;
  padding-top: 0;
  justify-content:flex-start;
  display: flex;
  list-style-type: none;
  z-index: 1;
}

.pages {
  margin-top: 0;
  padding-top: 0;
  justify-content:flex-end;
  display: flex;
  list-style-type: none;
  z-index: 1;
}

.button {
	display:inline;
	position:absolute;
	right:20px;
	top:20px;
	z-index:999;
	font-size:30px;
}

.button a {
	text-decoration:none;
}

.btn-open:after {
	color:rgb(255, 253, 253);
	content:"\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
}

.btn-open:hover:after {
	color:#ffffff;
}

.btn-close:after {
	color:#fff !important;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
}

.btn-close:hover:after {
	color: #ffffff;
}

.wrap {
  height: 100%;
  width: 100%;
  color:#e9e9e9;
  text-align:center;
  max-width:90%;
  margin:0 auto;
}

.wrap ul.wrap-nav {
  border-bottom:1px solid #ffffff;
  text-transform:capitalize;
  padding:150px 0px 100px;
}

.wrap ul.wrap-nav li {
  font-size:40px;
  display:inline-block;
  vertical-align:top;
  width:24%;
  position:relative;
}

.wrap ul.wrap-nav li a {
  color:#d2afee;
  display:block;
  padding:0.2rem 0 0.2rem 0;
  text-decoration:none;
  transition-property:all .2s linear 0s;
}

.wrap ul.wrap-nav li a:hover {
  color:#f0f0f0;
}

.wrap ul.wrap-nav ul {
  padding:1rem 0 1rem 0;
}

.wrap ul.wrap-nav ul li {
  display:block;
  font-size:2rem;
  width:100%;
  color:#e9e9e9;
}

.wrap ul.wrap-nav ul li a {
  color:#f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
  color:#b8b8b8;
}

.text-black {
  color: #000; }

.content {
  padding: 10vh 0 10vh 0; 
}

.text-center {
  font-family:'Infynyte';
  font-size: 35px;
  padding-bottom: 20px;
}

.mb-5, .my-5 {
  margin-bottom: 1rem !important;
}

.form {
  border-radius: 20px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none; 
}

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; 
}

.col-form-label {
  color: #000;
  font-size: 13px; 
}

.btn, .form-control, .custom-select {
  height: 45px;
  border-radius: 0; 
}

.custom-select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0; 
}

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; 
}

.btn {
  border: none;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: .2rem;
  border-radius: 30px !important; 
}

.btn.btn-primary {
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 30px;
  background-image: linear-gradient(135deg, #4568dc, #b06ab3);
  color: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2);
  box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2); 
}

.btn:hover {
  color: #fff !important; 
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; 
}

.contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 40px 0 rgba(190, 8, 207, 0.664);
  background: rgb(238, 238, 238); 
}

.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0; 
}

.contact-wrap .form, .contact-wrap .contact-info {
  padding: 40px; 
}

.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5); 
}

.contact-wrap .contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5); 
}

.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px; 
}

.contact-wrap .form {
  background: #fff; 
}

.contact-wrap .form h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px; 
}

.contact-wrap .contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}

.contact-wrap .contact-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}

@media (max-width: 1199.98px) {
  .contact-wrap .contact-info {
    height: 400px !important; 
  } 
}

.contact-wrap .contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px; 
}

label.error {
  font-size: 12px;
  color: red; 
}

#message {
  resize: vertical; 
}

#form-message-warning, #form-message-success {
  display: none; 
}

#form-message-warning {
  color: #B90B0B; 
}

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; 
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; 
}


@media only screen and (min-width: 1173px) {
  .button {
      display: none;
  }
  .overlay {
      display: none;
  }
}

@media only screen and (max-width: 1173px) {
  .candle {
    display: none;
  }

  .candle2{
    display: none;
  }

  .content {
    padding: 0vh 0 35vh 0; 
  }
  
  html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }

  .nav {
    height: 15vh;
  }
  
  .wrap {
    height: 100%;
    width: 100%;
    color:#e9e9e9;
    text-align:center;
    max-width:90%;
    margin:0 auto;
  }

  .wrap ul.wrap-nav {
    border-bottom:1px solid #ffffff;
    text-transform:capitalize;
    padding:150px 0px 100px;
  }

  .wrap ul.wrap-nav li {
    font-size:40px;
    display:inline-block;
    vertical-align:top;
    width:24%;
    position:relative;
  }
  .wrap ul.wrap-nav li a {
    color:#d2afee;
    display:block;
    padding:0.2rem 0 0.2rem 0;
    text-decoration:none;
    transition-property:all .2s linear 0s;
  }
  .wrap ul.wrap-nav li a:hover {
    color:#f0f0f0;
  }
  .wrap ul.wrap-nav ul {
    padding:1rem 0 1rem 0;
  }
  .wrap ul.wrap-nav ul li {
    display:block;
    font-size:2rem;
    width:100%;
    color:#e9e9e9;
  }
  .wrap ul.wrap-nav ul li a {
    color:#f0f0f0;
  }
  .wrap ul.wrap-nav ul li a:hover {
    color:#b8b8b8;
  }

  #myBtnContainer {
    display: flex;
    width: 20vw;
    justify-content: center;
    margin:auto;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .btn {
    color: white;
    font-size: 1.25rem;
    margin: 0.1rem;
    border: none;
    outline: none;
    padding: 0.5rem 1.25rem;
    background-color: #6e82be;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #a8b9f1;
  }
  
  .btn.active {
    background-color: #7b2d7e;
      color: white;
  }
}