.projects-page {
  width: 100%;
  color: white;
  text-align: center;
  height: auto;
  margin-top: 10vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: auto;
}

.title {
  font-size: 1.75rem !important;
  color: white;
  display: flex;
  width: 30vw !important;
  margin: 5vh auto 5vh auto;
  justify-content: center;
  border: 3px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      #4568dc,
      #b06ab3,
      rgba(0, 0, 0, 0)
    )
    1;
}

.project {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  margin: 4vh 0;
}

.text {
  color: white;
  text-align: left;
  font-size: 0.9rem;
  max-width: 40%;
  height: auto;
}

.techs {
  display: flex;
  gap: 20px;
  margin: 5px 0;
  p {
    font-size: 0.8rem;
    padding: 2px 0;
    border: 2px solid #b06ab3;
    border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 100%;
  }
}

.text p {
  margin-top: 1%;
  margin-bottom: 1%;
  text-indent: 2%;
}

#button {
  justify-content: left;
  display: flex;
}

.img-container {
  width: 52%;
  height: auto;
  display: flex;
  flex-direction: column;
  #frame {
    width: 100.2% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #project-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 761px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin: auto;
  }
  .title {
    font-size: 1.5rem !important;
    color: white;
    display: flex;
    width: 55% !important;
    margin: 5vh auto 5vh auto;
    justify-content: center;
    border: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #4568dc,
        #b06ab3,
        rgba(0, 0, 0, 0)
      )
      1;
    padding: 1rem;
  }

  .project {
    border: 3px solid rgba(0, 0, 0, 0);
    border-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #4568dc,
        #b06ab3,
        rgba(0, 0, 0, 0)
      )
      1 20%;
    background-color: rgba(69, 68, 102, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 0 2vh 0;
    padding: 2vh;
  }
  .img-container {
    width: 80%;
    height: auto;
    margin: auto;
  }

  .project img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .text {
    color: white;
    text-align: left;
    font-size: 1.2rem;
    max-width: 80%;
    height: auto;
  }

  .text p {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #trvl-text {
    order: 2;
  }
}

@media only screen and (max-width: 760px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
  }
  .title {
    font-size: 1.2rem !important;
    color: white;
    display: flex;
    width: 55% !important;
    margin: 5vh auto 5vh auto;
    justify-content: center;
    border: 3px solid transparent;
    border-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #4568dc,
        #b06ab3,
        rgba(0, 0, 0, 0)
      )
      1;
    padding: 0.5rem;
  }

  .project {
    border: 3px solid rgba(0, 0, 0, 0);
    border-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #4568dc,
        #b06ab3,
        rgba(0, 0, 0, 0)
      )
      1 20%;
    background-color: rgba(69, 68, 102, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 0 2vh 0;
    padding: 3vh 0 0 0;
  }
  .img-container {
    width: 90%;
    height: auto;
    margin: auto;
  }

  .project img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .text {
    color: white;
    text-align: left;
    font-size: 0.8rem;
    line-height: normal;
    margin: auto;
    max-width: 90%;
    height: auto;
  }

  .text p {
    margin: auto;
  }
  #trvl-text {
    order: 2;
  }
}
