nav {
  display: flex;
  margin: auto;
  width:100%;
  justify-content: space-between;

}
.pages {
  margin-top: 0;
  padding-top: 0;
  padding: 20px;
  justify-content:flex-end;
  display: flex;
  list-style-type: none;
}

.socials {
  margin-top: 0;
  padding-top: 0;
  padding: 20px;
  justify-content:flex-start;
  display: flex;
  list-style-type: none;
}

li a {
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

li a:hover {
  background-color: #5a1aad5b;
}



* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  .container {
      margin-top: 5%;
  }

  #title {
      color: white;
      display: flex;
      justify-content: center;
  }

  .row {
    display: flex;
	flex-wrap: wrap;
    margin: 100px;
    margin-top: 20px;
  }
  
  .column {

    display: none;
	width: 33.33%;
	height: 100%;
    padding: 20px;
  }

  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    border-radius: 5%;
  }

  .content img {
      display: flex;
      margin: auto;
      padding: 5px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  #myBtnContainer {
      display: flex;
      justify-content: left;
      margin-left: 120px;
  }
  /* Style the buttons */
  .btn {
    color: white;
    font-size: 15px;
    margin: 2px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(3, 57, 94);
    cursor: pointer;
    border-radius: 5%;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: rgb(253, 108, 108);
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #58a0ff;
     color: white;
  }



