@font-face {
  font-family: SpaceRave;
  src: url(/fonts/spacerave.ttf);
}

@font-face {
  font-family: Infynyte;
  src: url(/fonts/infynyte.otf);
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(14, 9, 20);
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100vw;
  height: auto;
}

nav ul li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: 0.2rem solid #fff;
  transition-property: all 0.2s linear 0s;
  font-size: 1.75rem;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: #b7b4b85d;
  border-radius: 1rem;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.socials {
  margin-top: 0;
  padding-top: 0;
  justify-content: flex-start;
  display: flex;
  list-style-type: none;
  z-index: 1;
}

.pages {
  margin-top: 0;
  padding-top: 0;
  justify-content: flex-end;
  display: flex;
  list-style-type: none;
  z-index: 1;
}

.button {
  display: inline;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  font-size: 30px;
}

.button a {
  text-decoration: none;
}

.btn-open:after {
  color: rgb(255, 253, 253);
  content: "\f0c9";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
}
.btn-open:hover:after {
  color: #ffffff;
}
.btn-close:after {
  color: #fff;
  content: "\f00d";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
}
.btn-close:hover:after {
  color: #ffffff;
}

.wrap ul.wrap-nav {
  border-bottom: 1px solid #ffffff;
  text-transform: capitalize;
  padding: 150px 0px 100px;
}

.wrap ul.wrap-nav li {
  font-size: 40px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}

.wrap ul.wrap-nav li a {
  color: #d2afee;
  display: block;
  padding: 0.2rem 0 0.2rem 0;
  text-decoration: none;
  transition-property: all 0.2s linear 0s;
}

.wrap ul.wrap-nav li a:hover {
  color: #f0f0f0;
}

.wrap ul.wrap-nav ul {
  padding: 1rem 0 1rem 0;
}

.wrap ul.wrap-nav ul li {
  display: block;
  font-size: 2rem;
  width: 100%;
  color: #e9e9e9;
}

.wrap ul.wrap-nav ul li a {
  color: #f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
  color: #b8b8b8;
}

.hero {
  height: 100vh;
  font-family: "Infynyte";
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 55vw;
  margin: 20vh auto 0 auto;
  height: auto;
  color: #ffffff;
  z-index: 1;
}

.hero-text h1 {
  font-size: 5rem;
  margin: 1.25rem;
  font-family: SpaceRave;
  letter-spacing: 0.5rem;
  z-index: 1;
}

.hero-p {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: center;
  gap: 1vw;
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 300;
  z-index: 1;
}

.hero-text p {
  font-size: 1.2em;
  margin: 0;
  z-index: 1;
}

.intro {
  animation: glitch 5s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.intro:before,
.intro:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.intro:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.intro:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.moon {
  padding: 1.25rem;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 7.5rem;
}

.moon1 {
  padding: 1.25rem;
}

.cloud1 {
  width: 6.25rem;
}

.cloud2 {
  width: 6.25rem;
}

.info {
  margin: 1.25rem;
  height: 100vh;
  text-align: center;
}

.blurb {
  display: flex;
  margin: auto;
  margin-top: 10vh;
  height: auto;
  width: auto;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}

.blurb img {
  height: auto;
  width: auto;
  max-width: 18vw;
  max-height: 36vh;
  border-radius: 30%;
}

.lorem {
  width: 36vw;
  text-align: left;
  font-size: 1.75rem;
  color: white;
  line-height: 2rem;
}

#more {
  display: none;
}
#more2 {
  display: none;
}
#more3 {
  display: none;
}

.info2 {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  height: 100%;
  color: white;
}

.info2 div {
  display: flex;
  margin: auto;
  width: 100vw;
  padding-top: 0.75rem;
  gap: 10vw;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.info2 img {
  width: 11vw;
  padding: 0;
}

.info2 p {
  width: 39vw;
  font-size: 1.6rem;
  line-height: 2rem;
}

#myBtn,
#myBtn2,
#myBtn3 {
  margin: auto;
  border: 10em;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(135deg, #4568dc, #b06ab3);
  padding: 0rem 0.6rem 0rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

#myBtn:after,
#myBtn2:after,
#myBtn3:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 0.2rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#myBtn:hover,
#myBtn2:hover,
#myBtn3:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 12px rgba(128, 128, 128, 0.1);
}

#myBtn:hover,
#myBtn2:hover,
#myBtn3:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

#bn30 {
  margin-top: 1.9rem;
  margin-bottom: 3rem;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 1.25rem;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(135deg, #4568dc, #b06ab3);
  padding: 0.6em 1.5em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

#bn30 .text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #4568dc, #b06ab3);
}

#bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 0.2rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

#bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

#bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.info3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10vw 10vh 10vw;
  max-height: 100vh;
  max-width: 100vw;
  height: auto;
  width: auto;
  color: white;
  justify-content: space-around;
  text-align: center;
}

.info3-container {
  text-align: center;
  max-width: 25vw;
}

.border {
  height: 400px;
  margin-top: 25px;
  border: white solid 2px;
}

#info3-icons {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 35vw;
  gap: 0.5rem;
  justify-content: space-around;
}

#info3-icons img {
  max-height: 10vh;
  max-width: 8vw;
  height: auto;
  width: 100%;
}

.links {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: auto;
  width: auto;
  justify-content: center;
  padding-bottom: 5vh;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgb(3, 57, 94);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 80%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(3, 57, 94) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.line-1 {
  color: white;
  height: 40px;
  margin: 20vh auto 5vh auto;
  font-size: 30px;
  text-align: center;
}

.recent-projects {
  color: white;
  font-size: 20px;
  max-width: 60vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.recent-projects div {
  height: auto;
  padding: 1rem;
  text-align: left;
  background-image: linear-gradient(135deg, #a8b9f1, #6e82be, #7b2d7e, #53165f);
  border-radius: 15px;
}

.recent-projects p {
  max-width: 22vw;
  font-size: 1.5rem;
}

.recent-projects img {
  max-width: 22vw;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.button {
  display: inline;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  font-size: 30px;
}

.button a {
  text-decoration: none;
}

.btn-open:after {
  color: rgb(255, 253, 253);
  content: "\f0c9";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
}

.btn-open:hover:after {
  color: #ffffff;
}

.btn-close:after {
  color: #fff;
  content: "\f00d";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
}

.btn-close:hover:after {
  color: #ffffff;
}

@media only screen and (min-width: 1173px) {
  .button {
    display: none;
  }
  .overlay {
    display: none;
  }
}

@media only screen and (max-width: 1173px) {
  #particles-js {
    display: none;
  }

  html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }

  .wrap {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto 20vh auto;
  }

  #bn30 {
    margin: auto;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    background: rgb(14, 9, 20);
    overflow: scroll;
    z-index: 99;
  }

  .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #ffffff;
  }

  .wrap ul.wrap-nav {
    padding: 5vh 0px 0px 0;
  }

  .nav {
    width: 100vw;
  }

  nav ul {
    width: 100vw;
    opacity: 0;
    visibility: hidden;
  }

  .hero {
    height: 50vh;
  }

  .hero-text {
    max-width: 100vw;
    width: 100%;
    margin: 20vh auto 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 3.5em;
    margin: 0 auto 0 auto;
    font-family: SpaceRave;
    letter-spacing: 0.4rem;
    z-index: 1;
  }

  .hero-p {
    display: flex;
    width: 100%;
    font-size: 1.75rem;
    gap: 2vw;
    z-index: 1;
  }

  .moon {
    max-width: 50%;
  }

  .moon1 {
    width: 10vw;
  }

  .cloud1 {
    width: 15vw;
  }

  .cloud2 {
    width: 15vw;
  }

  .info {
    margin: auto auto 10vh auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: auto;
    max-width: 100vw;
    text-align: center;
  }

  .info-btn {
    margin: 0.5vh auto 1vh auto;
  }

  .blurb {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    max-height: 100%;
    max-width: 100vw;
    gap: 0;
    justify-content: center;
    align-items: center;
  }

  .blurb img {
    height: auto;
    width: auto;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 30%;
  }

  .lorem {
    max-width: 80vw;
    width: auto;
    margin: auto;
    text-align: left;
    font-size: 1.5em;
    color: white;
    line-height: 1.25em;
  }

  .info2 {
    max-width: 100vw;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
  }

  #info2-title {
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    max-width: 100vw;
    font-family: "Infynyte";
  }

  .info2 {
    margin: auto auto 10vh auto;
  }

  .info2 div {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0vw;
    max-width: 90vw;
    width: auto;
    text-align: center;
  }

  .info2 img {
    width: 40vw;
    height: auto;
    padding: 0;
  }

  .info2 p {
    max-width: 90%;
    width: auto;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .border {
    display: none;
  }

  .line-1 {
    display: flex;
    width: auto;
  }

  .info3 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 100vw;
    max-height: 100%;
    width: 100%;
    height: auto;
    color: white;
    margin-bottom: 20vh;
    justify-content: space-around;
    text-align: center;
  }

  .info3-container {
    width: auto;
    max-width: 100vw;
    width: auto;
  }

  #info3-icons {
    max-width: 70vw;
    width: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #info3-icons img {
    max-height: 10vh;
    max-width: 16vw;
    height: auto;
    width: 100%;
  }

  .recent-projects {
    color: white;
    font-size: 20px;
    max-width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
  }

  .recent-projects div {
    height: auto;
    padding: 1rem;
    margin: 2vh auto 2vh auto;
    text-align: left;
    background-image: linear-gradient(
      135deg,
      #a8b9f1,
      #6e82be,
      #7b2d7e,
      #53165f
    );
    border-radius: 15px;
  }

  .recent-projects p {
    max-width: 80vw;
    font-size: 1.5rem;
  }

  .recent-projects img {
    max-width: 80vw;
  }

  .links {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    width: auto;
    height: 30%;
    justify-content: center;
    margin-bottom: 10%;
  }
}
