@font-face {
  font-family: SpaceRave;
  src: url(../fonts/spacerave.ttf);
}

@font-face {
  font-family: Infynyte;
  src: url(../fonts/infynyte.otf);
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  height: 100vh;
  width: 100vw;
  font-family: "Infynyte";
}

.hero-text {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 85%;
  margin: 20vh auto 0 auto;
  height: auto;
  color: #ffffff;
  z-index: 1;
}

.hero-text h1 {
  font-size: 6rem;
  text-align: right;
  font-family: SpaceRave;
  letter-spacing: 0.5rem;
  margin: 1rem;
  z-index: -1;
  color: rgb(202, 205, 238);
  text-shadow: 2px 5px 3px #ee72eed5;
}

.intro {
  width: 35%;
  padding-right: 1rem;
  border-right: solid 1px #ffffff;
}

.social {
  margin: 0;
  text-align: right;
  a {
    z-index: 9999;

    margin: 0 1rem;
  }
}

.hero-p {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  width: 30%;
  font-size: 1.1rem;
  z-index: 1;
}

.language {
  color: #222;
  font-weight: 700;
  padding: 0px 2px;
  background: linear-gradient(90deg, rgb(196, 201, 252), #f8b4f8);
}

.button {
  display: flex;
  margin: 0.25rem !important;
}

.info-btn {
  padding: 0 0.5rem;
}

.ellipse-container {
  z-index: -1;
  position: absolute;
  top: -1vh;
  left: -35vw;
  width: 150vw;
  fill: none;
  stroke: rgba(255, 255, 255, 0.144);
  transform: rotate(10deg);
}

#realmoon {
  fill: rgb(238, 238, 238);
  stroke: rgba(230, 129, 230, 0.582);
  transform: scale(0.6, -0.6);
}

@media screen and (max-width: 1201px) and (min-width: 761px) {
  .hero-text h1 {
    font-size: 4rem;
    margin: 0rem;
    font-family: SpaceRave;
    letter-spacing: 0.2rem;
    z-index: 1;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 30vh auto 0 auto;
    height: auto;
    color: #ffffff;
    z-index: 1;
  }
  .hero-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 300;
    z-index: 1;
  }

  .hero-text p {
    font-size: 2rem;
    margin: 0;
    z-index: 1;
  }
  #realmoon {
    fill: rgb(238, 238, 238);
    stroke: rgba(230, 129, 230, 0.781);
  }
}

@media screen and (max-width: 760px) {
  .hero {
    height: 80vh;
    font-family: "Infynyte";
  }
  .hero-text h1 {
    font-size: 2rem;
    margin: 0rem;
    font-family: SpaceRave;
    letter-spacing: 0.2rem;
    z-index: 1;
  }
  .hero-text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 80%;
    margin: 30vh auto 0 auto;
    height: auto;
    color: #ffffff;
    z-index: 1;
  }
  .hero-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 0;
    font-weight: 300;
    z-index: 1;
  }

  .hero-text p {
    font-size: 1.5rem;
    margin: 0;
    z-index: 1;
  }
  .moon {
    padding: 1.25rem;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 5rem;
  }

  .moon1 {
    padding: 1rem;
  }

  .cloud1 {
    width: 4rem;
  }

  .cloud2 {
    width: 4rem;
  }
  #svg {
    overflow: visible;
    position: absolute;
    top: 55vh;
  }
  #rect {
    transform: scale(0.11, -0.11);
  }
}
