@font-face {
  font-family: Infynyte;
  src: url(/fonts/infynyte.otf);
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(14, 9, 20);
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100vw;
  height: auto;
}

nav ul li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 1rem 1rem;
  text-decoration: none;
  border-bottom: 0.2rem solid #fff;
  transition-property: all 0.2s linear 0s;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: #b7b4b85d;
  border-radius: 1rem;
}

.nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.socials {
  margin-top: 0;
  padding-top: 0;
  justify-content: flex-start;
  display: flex;
  list-style-type: none;
  z-index: 1;
}

.pages {
  margin-top: 0;
  padding-top: 0;
  justify-content: flex-end;
  display: flex;
  list-style-type: none;
  z-index: 1;
}

.button {
  display: inline;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  font-size: 30px;
}

.button a {
  text-decoration: none;
}

.btn-open:after {
  color: rgb(255, 253, 253);
  content: "\f0c9";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
}

.btn-open:hover:after {
  color: #ffffff;
}

.btn-close:after {
  color: #fff;
  content: "\f00d";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
}

.btn-close:hover:after {
  color: #ffffff;
}

.wrap {
  height: 100%;
  width: 100%;
  color: #e9e9e9;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.wrap ul.wrap-nav {
  border-bottom: 1px solid #ffffff;
  text-transform: capitalize;
  padding: 150px 0px 100px;
}

.wrap ul.wrap-nav li {
  font-size: 40px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}

.wrap ul.wrap-nav li a {
  color: #d2afee;
  display: block;
  padding: 0.2rem 0 0.2rem 0;
  text-decoration: none;
  transition-property: all 0.2s linear 0s;
}

.wrap ul.wrap-nav li a:hover {
  color: #f0f0f0;
}

.wrap ul.wrap-nav ul {
  padding: 1rem 0 1rem 0;
}

.wrap ul.wrap-nav ul li {
  display: block;
  font-size: 2rem;
  width: 100%;
  color: #e9e9e9;
}

.wrap ul.wrap-nav ul li a {
  color: #f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
  color: #b8b8b8;
}

.container {
  width: 90vw;
  margin: 12vh auto 0 auto;
}

#title {
  font-family: "Infynyte";
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

.column {
  display: none;
  width: 33.33%;
  height: 100%;
  padding: 1.25vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-image: linear-gradient(135deg, #a8b9f1, #6e82be, #7b2d7e, #53165f);
  max-width: 100vw;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

.content img {
  background-color: white;
  margin: auto;
  border-radius: 15px;
}

.show {
  display: block;
}

#myBtnContainer {
  display: flex;
  width: 40vw;
  justify-content: left;
  margin-left: 2.5vw;
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  color: white;
  font-size: 1.375rem;
  margin: 0.1rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: #6e82be;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #a8b9f1;
}

.btn.active {
  background-color: #7b2d7e;
  color: white;
}

@media only screen and (min-width: 1173px) {
  .button {
    display: none;
  }
  .overlay {
    display: none;
  }
}

@media only screen and (max-width: 1173px) {
  html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }

  .wrap {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto 20vh auto;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    background: rgb(14, 9, 20);
    overflow: scroll;
    z-index: 99;
  }

  .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #ffffff;
  }
  .wrap ul.wrap-nav {
    padding: 5vh 0px 0px 0;
  }

  .nav {
    width: 100vw;
  }

  nav ul {
    width: 100vw;
    opacity: 0;
    visibility: hidden;
  }

  #myBtnContainer {
    display: flex;
    width: 20vw;
    justify-content: center;
    margin: auto;
    font-family: "Source Sans Pro", sans-serif;
  }
  .btn {
    color: white;
    font-size: 1.25rem;
    margin: 0.1rem;
    border: none;
    outline: none;
    padding: 0.5rem 1.25rem;
    background-color: #6e82be;
    cursor: pointer;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #a8b9f1;
  }

  .btn.active {
    background-color: #7b2d7e;
    color: white;
  }

  .container {
    width: 100vw;
    height: auto;
    margin: 1vh auto 0 auto;
    padding: 0 0 10% 0;
  }

  #title {
    font-family: "Infynyte";
    color: white;
    font-size: 2rem;
    margin: 1vw auto 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .row {
    display: flex;
    width: 100%;
    margin: 2vh auto 0 auto;
  }

  .column {
    width: 50%;
    height: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content {
    background-image: linear-gradient(
      135deg,
      #a8b9f1,
      #6e82be,
      #7b2d7e,
      #53165f
    );
    width: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
  }

  .content img {
    background-color: white;
    margin: auto;
    height: auto;
    border-radius: 15px;
  }
  .show {
    display: block;
  }
}
