.contact-container {
  width: 80%;
  height: 60vh;
  display: flex;
  margin: 10vh auto;
}

#contact-form {
  text-align: center;
  width: 50%;
  height: auto;
  box-shadow: 0 5px 10px 0 #000;
  background-color: #2b2b2b;
  color: white !important;
  padding: 1vh;
}
#contact-form .message {
  font-family: "Heebo", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: left;
  margin: 1.5vh auto;
  box-sizing: border-box;
  width: 90%;
}
#contact-form input {
  font-family: "Heebo", sans-serif;
  color: white !important;
  margin: 1.5vh auto;
  font-size: 0.9rem;
  border: 3px solid #b06ab3;
  -o-border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
     border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
  background-color: #2b2b2b;
  width: 90%;
  height: 20%;
  padding: 10px 15px;
  box-sizing: border-box;
}
#contact-form textarea {
  font-family: "Heebo", sans-serif;
  color: white !important;
  margin: 1.5vh auto;
  font-size: 0.9rem;
  border: 3px solid #b06ab3;
  -o-border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
     border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
  background-color: #2b2b2b;
  width: 90%;
  height: 30%;
  padding: 10px 15px;
  box-sizing: border-box;
}
#contact-form ::-moz-placeholder {
  color: #a3a3a3 !important;
  opacity: 1 !important;
}
#contact-form :-ms-input-placeholder {
  color: #a3a3a3 !important;
  opacity: 1 !important;
}
#contact-form ::placeholder {
  color: #a3a3a3 !important;
  opacity: 1 !important;
}
#contact-form :focus-visible {
  outline: 2px solid #88fff5;
}
#contact-form .button {
  text-align: left;
  width: 26%;
  margin-left: 1.5vw !important;
  border: none;
  display: revert;
}
#contact-form .name-email {
  display: flex;
  flex-direction: column;
  margin: 1.5vh auto;
  width: 100%;
}
#contact-form span {
  display: none;
  text-align: center;
}
#contact-form span.visible {
  display: block;
}

.contact-text {
  width: 40%;
  height: 70%;
  margin: 0 2vw;
  color: white;
  background-color: #222 !important;
}
.contact-text .special-a-tag {
  position: relative;
  width: 80%;
  text-decoration: none;
  color: #91faf1;
  overflow: hidden;
}
.contact-text .special-a-tag:after {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 20px;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #4568dc;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.contact-text .special-a-tag:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 760px) {
  .contact-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto auto 5vh auto;
  }

  #contact-form {
    text-align: center;
    width: 95%;
    margin: auto;
    height: auto;
    justify-content: center;
    box-shadow: 0 5px 10px 0 #000;
    background-color: #2b2b2b;
    color: white !important;
    padding: 5px;
  }
  #contact-form .message {
    font-family: "Heebo", sans-serif;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    margin: 1.5vh auto;
    box-sizing: border-box;
    width: 90%;
  }
  #contact-form input {
    font-family: "Heebo", sans-serif;
    color: white !important;
    margin: 1.5vh auto;
    font-size: 0.9rem;
    border: 3px solid #b06ab3;
    -o-border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
       border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
    background-color: #2b2b2b;
    width: 90%;
    height: 20%;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  #contact-form textarea {
    font-family: "Heebo", sans-serif;
    color: white !important;
    margin: 1.5vh auto;
    font-size: 0.9rem;
    border: 3px solid #b06ab3;
    -o-border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
       border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 10%;
    background-color: #2b2b2b;
    width: 90%;
    height: 30%;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  #contact-form ::-moz-placeholder {
    color: #a3a3a3 !important;
    opacity: 1 !important;
  }
  #contact-form :-ms-input-placeholder {
    color: #a3a3a3 !important;
    opacity: 1 !important;
  }
  #contact-form ::placeholder {
    color: #a3a3a3 !important;
    opacity: 1 !important;
  }
  #contact-form :focus-visible {
    outline: 2px solid #88fff5;
  }
  #contact-form .button {
    text-align: center;
    width: 50%;
    margin: auto !important;
    margin-left: none;
    border: none;
    display: revert;
  }
  #contact-form .name-email {
    display: flex;
    flex-direction: column;
    margin: 1.5vh auto;
    width: 100%;
  }
  #contact-form span {
    display: none;
    text-align: center;
  }
  #contact-form span.visible {
    display: block;
  }

  .contact-text {
    width: 95%;
    max-height: 80vh;
    margin: 10vw auto;
    color: white;
    background-color: #222 !important;
  }
  .contact-text .special-a-tag {
    position: relative;
    width: 80%;
    text-decoration: none;
    color: #91faf1;
    overflow: hidden;
  }
  .contact-text .special-a-tag:after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 20px;
    transform: scaleX(0);
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: #4568dc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .contact-text .special-a-tag:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .contact-text h2 {
    margin: 2vh auto;
  }
}/*# sourceMappingURL=ContactStyle.css.map */