.Nav button {
  display: none;
  z-index: 99;
}

.Nav {
  z-index: 9999999;
}

.pc-overlay {
  display: flex;
  justify-content: right;
  width: 95vw;
  height: auto;
  z-index: 9999999;
  .special-a-tag {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #f1f7ee;
    overflow: hidden;
  }
  .special-a-tag:after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 20px;
    transform: scaleX(0);
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: #4568dc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .special-a-tag:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.pc-overlay a {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  z-index: 999999;
}

.pages a:hover {
  z-index: 99;
}

.socials {
  z-index: 99;
}

.pages {
  z-index: 9999;
}

.mobile-overlay {
  display: none;
}

@media only screen and (max-width: 800px) {
  .Nav button {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999999;
  }

  .pc-overlay {
    display: none;
  }

  .mobile-overlay {
    display: block;
    z-index: 9999;
  }

  .mobile-overlay #not {
    display: none;
  }

  .mobile-overlay #hidden {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    background-color: rgb(69, 68, 102);
    border-radius: 0;
    z-index: 99999;
  }

  .mobile-overlay #hidden a {
    display: block;
    font-size: 2rem;
    color: #e9e9e9;
    text-decoration: none;
    width: auto;
    margin: auto;
    padding: 10px;
    z-index: 99999;
  }
  .socials {
    display: flex;
    width: 50%;
    margin: auto;
  }
}
