.projects-page {
  width: 100%;
  color: white;
  text-align: center;
  height: auto;
  margin-top: 10vh;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: auto;
}

.project {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 4vh 0;
}

.text {
  color: white;
  background-color: #222;
  text-align: left;
  font-size: 0.9rem;
  max-width: 518px;
  margin-left: 40px;
  height: auto;
  h2 {
    margin-top: 1vh;
  }
  p {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

.job-description p {
  margin-left: 2%;
}

.techs {
  display: flex;
  gap: 20px;
  margin: 5px 0;
  p {
    font-size: 0.8rem;
    padding: 2px 0;
    border: 2px solid #b06ab3;
    border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 100%;
  }
}

#button {
  justify-content: left;
  display: flex;
}

.img-container {
  width: 673px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #222;
  box-shadow: 0 5px 10px 5px rgb(3, 3, 3);

  #frame {
    width: 100.2% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #project-img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 761px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 0 2vh 0;
    padding: 2vh;
  }
  .img-container {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .project img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  .text {
    color: white;
    text-align: left;
    font-size: 1.2rem;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
  }

  .text p {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #trvl-text {
    order: 2;
  }
}

@media only screen and (max-width: 760px) {
  .projects-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: auto;
  }
  .project {
    border: none !important;
    border-image: none !important;
    background-color: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 0 2vh 0;
    padding: 3vh 0 0 0;
  }
  .img-container {
    width: 100%;
    height: auto;
    margin: auto;
    box-shadow: none !important;
  }

  .project img {
    border-radius: none;
    width: 100%;
    height: auto;
  }
  .text {
    color: white;
    text-align: left;
    font-size: 0.8rem;
    line-height: normal;
    margin: auto;
    max-width: 95%;
    height: auto;
    h2 {
      margin: 2vh auto;
    }
  }
  .text p {
    margin: auto;
  }
  .techs {
    max-width: 50%;
    gap: 5px !important;
    p {
      font-size: 0.6rem !important;
      border: 1px solid #b06ab3;
      border-image: linear-gradient(to right, #4568dc, #b06ab3) 1 1 100%;
    }
  }
}
