.svg {
  filter: invert(99%) sepia(96%) saturate(22%) hue-rotate(1deg) brightness(104%)
    contrast(100%);
  width: 3vw;
  position: fixed;
  right: 4vw;
  bottom: 10vh;
  //   transform: translate(0, 0);
}

.svg img {
  width: 100%;
}
