html {
  overflow-x: hidden !important;
  width: 100vw;
}
body {
  overflow-x: hidden !important;
  margin: 0;
  width: 100vw;
  font-family: "Heebo", sans-serif;
  background-color: #222 !important;
}

#particles-js {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}
